.screen {
    font-family: monospace;
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
    animation: ColorChanger 1s ease-in infinite normal;
    -webkit-animation: ColorChanger 1s ease-in infinite normal;
}

.home {

    display: flex;
    flex-direction: column;
    width: 92%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    max-height: fit-content;
    max-width: 1280px;
    border: 2px solid #000000;
    border-radius: 0.4rem;
    font-family: monospace;
    z-index: 1;
    box-shadow: -3px 5px 0 0 #000000;
    margin: 0.5rem;
    padding: 0.5rem;
}

.home-title {
    color: rgb(255, 255, 255);
    font-size: 1.9rem;
    z-index: 20;
}

.hero-section {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0.5rem 0 0.5rem;
    padding: 0.5rem;
    width: 20rem;
    height: 10rem;

}

.home .img {
    position: absolute;
    top: 0.6rem;
    z-index: 2;
    width: 24.5rem;
}

.hero .img{
    border: 2px solid #000000;
    border-radius: 0.4rem;
    filter: drop-shadow(4px -10px 2rem #646cffaa);
    -webkit-filter: drop-shadow(4px -10px 2rem #646cffaa);
    box-shadow: -3px 5px 0 0 #000000;
}

.Links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:0 0.5rem 0.5rem 0.5rem;
    margin-top: 7.5rem;
    padding: 0.3rem;
    border-radius: 0.4rem;
    border: 3px solid #000000;
    box-shadow: -4px 7px 0 0 #000000;
}

.link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0.7rem;
    padding: 0.3rem;
}

.link-image img {
    width: 150px;
    border: 3px solid #000000;
    border-radius: 0.4rem;
    box-shadow: -4px 7px 0 0 #000000;
}

.link-title {
    font-family: monospace;
    color: #000000;
    font-size: 1.2rem;
    font-weight: bolder;
    text-align: center;
}

/* create media query for desktop */

@media (min-width: 1200px) {
    .home {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .hero-section {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.5rem 0.5rem 0 0.5rem;
        padding: 0.5rem;
        width: 20rem;
    }

    .home .img {
        position: absolute;
        top: 0.6rem;
        z-index: 2;
        width: 24.5rem;
    }

    .hero .img{
        border: 2px solid #000000;
        border-radius: 0.4rem;
        filter: drop-shadow(4px -10px 2rem #646cffaa);
        -webkit-filter: drop-shadow(4px -10px 2rem #646cffaa);
    }

    .Links {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin:0 0.5rem 0.5rem 0.5rem;
        margin-top: 7.5rem;
        padding: 0.3rem;
        border-radius: 0.4rem;
        border: 3px solid #000000;
        box-shadow: -4px 7px 0 0 #000000;
    }

    .link-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        margin: 0.7rem;
        padding: 0.3rem;
    }

    .link-image img {
        width: 150px;
        border: 3px solid #000000;
        border-radius: 0.4rem;
        box-shadow: -4px 7px 0 0 #000000;
    }

    .link-title {
        font-family: monospace;
        color: #000000;
        font-size: 1.2rem;
        font-weight: bolder;
        text-align: center;
    }
}